<div class="container">
  <div class="flash">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= correct_flash_name(name) %>" role="alert">
        <%= msg %>
      </div>
    <% end %>
  </div>
</div>