<footer class="footer">
  <div class="container">
    <p class="text-muted">Copyright © 2013  <%= link_to 'Runtime Revolution', 'http://www.runtime-revolution.com', target: '_blank' %>, released under the MIT license.</p>
  </div>
</footer>