<div class="gem-info">
  <div class="container">
    <div class="text text-muted">
      This is a demo app for the <%= link_to 'Survey', 'https://github.com/runtimerevolution/survey', target: '_blank' %> gem
    </div>
  </div>
</div>