<div class="field">
  <div class="row">
    <%= form_field_with_label f, :text, :text_field, group_class: 'col-xs-4', field_options: { placeholder: 'answer' }, label_options: { class: 'sr-only' } %>
    <%= @survey.render_proper_input f %>
    <div class="col-xs-4">
      <%= link_to_remove_field "Remove", f %>
    </div>
  </div>
</div>
