<%= link_to surveys_path, class: "label label-survey label-survey-all label-with-badges" do %>
  <span> All </span>
  <span class='badge label-badge label-badge-all'> <%= surveys_count %> </span>
<% end %>
