// Place all the styles related to the Survey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:hover,
a:focus {
  text-decoration: none !important;
}

.survey-form {
  padding-bottom: 40px;
}

.answers-number {
  padding-left: 20px;
  padding-bottom: 10px;
  color: grey;

  .number {
    font-size: 15px;
  }
}